body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
	margin: 0;
}

img {
	max-width: 100%;
}

/* ============================== */

.container {
	width: 1140px;
	margin: 0 auto;
}

button {
	cursor: pointer;
	background-color: rgb(252, 210, 61);
}

button, input {
	border: none;
	width: max-content;
}
 /* =================== */

.hero-section {
	background: linear-gradient(rgb(88, 183, 231), rgb(67, 159, 230));
}

.hero-section-block {
	display: flex;
	justify-content: space-between;
}

.hero-section h2, .hero-section p, .copyright-text {
	color: #fff;
}

.hero-section-info {
	width: 40%;
	padding: 10px;
}

.hero-section-img {
	width: 55%;
	padding: 30px 10px 80px 240px;
}

.hero-section-img img {
	transition: transform 1s;
}

.hero-section-img img:hover {
	transform: scale(1.15, 1.15);
}

.hero-section-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hero-section-info button {
	transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.hero-section-info button:hover {
	color: rgb(252, 210, 61);
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(252, 210, 61);
}

.hero-section-info img {
	width: 100px;
}

.hero-section-info-title h2:last-child {
	font-size: 36px;
}

.hero-section-info button {
	padding: 10px 30px;
}

/* ============================= */

.choose-section-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.choose-section-title {
	padding: 50px 0;
}
.choose-section-title h2 {
	animation-name: elem-scale;
	animation-duration: 1s;
	-webkit-animation-name: elem-scale;
	-webkit-animation-duration: 1s;
}

.choose-section-block-cards {
	display: flex;
	gap: 10px;
	padding: 10px;
}

.choose-section-block-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 30px;
}

.choose-section-block-card p {
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
}

.choose-section-block-card img {
	animation-name: card-img-rotate;
	animation-duration: 1s;
	animation-delay: 1s;
	-webkit-animation-name: card-img-rotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
}

/* =========================== */

.form-section {
	padding: 80px 0;
	background-color: rgb(233, 236, 236);
}

.form-section-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.form-section-block .call-me-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.call-me-form input {
	width: 300px;
	padding: 8px 20px;
	border: 2px solid gray;
}

.call-me-form button {
	width: 100%;
	padding: 10px 40px;
	border: 2px solid gray;
}

.delivery-section {
	background-color: bisque;
}

.delivery-section button {
	background-color: orange;
}

label {
	color: red;
}

.deliver-me-form div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ======================== */

.footer-info {
	padding: 50px 0;
	background: linear-gradient(rgb(59, 131, 255), rgb(45, 85, 153), rgb(97, 158, 243));
}

.footer-info-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-info p {
	text-align: center;
}

.footer-info .copyright-text {
	position: relative;
}

.footer-info .copyright-text::before {
	position: absolute;
	left: -15px;
	top: 5px;
	width: 15px;
	height: 15px;
	content: "";
	background-image: url(/img/copyright-icon.png);
	background-repeat: no-repeat;
	background-size: cover;
}

@keyframes card-img-rotate {
	from {
		transform: rotate(0deg);

	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes elem-scale {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.3, 1.3)
	}

	100% {
		transform: scale(1, 1);
	}
}


@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.choose-section-block-card {
		padding: 15px;
	}

	.choose-section-block-card p {
		font-size: 14px;
	}

	.hero-section-img {
		padding: 30px 10px 50px 150px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	.hero-section-block, .hero-section-info {
		align-items: center;
	}

	.hero-section-info {
		gap: 50px;
	}

	.hero-section-info p {
		font-size: 18px;
	}

	.hero-section-info-title, .hero-section-info p {
		text-align: center;
	}

	.hero-section-block, .choose-section-block-cards {
		flex-direction: column;
	}

	.hero-section-img {
		padding: 80px 15px;
	}

	.hero-section-info button, .call-me-form button {
		font-size: 18px;
		padding: 20px 60px;
	}

	.choose-section-block-card p {
		font-size: 18px;
	}

	.call-me-form input {
		width: 500px;
		padding: 16px 30px;
		font-size: 16px;
	}


}